{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 style="text-align:center;">Contact Us</h1>
        <form class="submit_msg" action="{% url 'submit' %}" method="POST">
            {% csrf_token %}
            <br>
            <br>
            <div class="form-group">
                <label for="name">Name:</label>
                <input name="name" type="text" class="form-control" placeholder="ex: Jane Doe">
            </div>
            <div class="form-group">
                <label for="">Phone:</label>
                <input name="phone" type="text" class="form-control" placeholder="ex: 317-123-4567">
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input name="email" type="text" class="form-control" placeholder="ex: hello@helloworld.com">
            </div>
            <div class="form-group">
                <label for="">Message:</label>
                <input name="message" type="text" class="form-control" placeholder="ex: I want a custom design...">
            </div>
            <div class="form-group">
                <div id="submit_btn">
                    <input type="submit" class="btn btn-outline-secondary">
                </div>
            </div>
        </form>
    </div>


{% endblock content %}