{% extends 'base.html' %}

{% block content %}

    <div class="home_banner">
        <div class="container">
            <div class="row">
                <div id="home_title">
                    <h1 class="display-2"><b>Happy Jewelry</b></h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    

    <div class="abt_us">
        <div class="container">
                <h1>Who Are We?</h1>
                <p>We are a family owned jewelry store.  Born and raised in South Korea, we immigrated to the United States.  We tried our hands in many service jobs and nothing seemed to be the right fit.  A friend of ours knew someone who was selling their jewelry store and asked if we were interested.  We said 'yes' and we could not be any happier.  We have been around for more than a decade now serving our Central Indiana community.
                <br>
                <br>
                <img src="static/img/umma_appa.jpg" style="display:block; margin-left:auto; margin-right:auto; width:50%; height:20%;">
                <br>
                If we're not at the store, you can catch us either at the golf course or travelling and catching fishies like the picture above!  
                </p>
        </div>
    </div>
    <br>
    
    <div class="why_us">
        <div class="container">
            <h1>Why Us?</h1>
            <p>
                Sure, you can go to some fancy, top-of-the-line jewelry store and drop several thousands of dollar OR you can come visit us and see what we have in store.  If you don't see anything that tickles your fancy, we also custom design jewelry.  Just bring us your designs and our amazing welder/designer will go above and beyond and exceed your expectations!
            <br>
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="10000" style="width:1550px; height:700px;">
                        <img src="static/img/pic1.jpeg" class="d-block w-100" alt="...">
                    </div>
                <div class="carousel-item" data-interval="2000" style="width:1550px; height:700px;">
                    <img src="static/img/pic2.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" style="width:1550px; height:700px;">
                    <img src="static/img/pic3.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        
        </div>
    </div>
    <br>
    <br>

{% endblock content %}