{% extends 'base.html' %}

{% block content %}

    <div class="home_banner">
        <div class="container">
            <div class="row">
                <div id="home_title">
                    <h1 class="display-2"><b>Happy Jewelry</b></h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    

    <div class="abt_us">
        <div class="container">
                <h1>Who Are We?</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo sequi repellat cumque accusamus, amet consequatur expedita in nihil labore distinctio ipsum impedit officia fugiat nesciunt accusantium tempore quis, officiis architecto?
                </p>
        </div>
    </div>
    <br>
    <br>
    
    <div class="why_us">
        <div class="container">
            <h1>Why Us?</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur accusamus nisi perspiciatis, soluta atque libero nulla qui ab culpa voluptate quod deleniti doloribus quam sunt. Tenetur nostrum corporis dolorum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis temporibus minus recusandae soluta eius odit animi consectetur ex nulla repellat esse facilis maxime itaque, odio, aliquam voluptatum vel perspiciatis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos itaque excepturi, consectetur molestias eum enim aliquam omnis laudantium doloribus et necessitatibus, quod dicta! Ducimus quaerat eaque autem architecto doloremque! Autem.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  

{% endblock content %}