{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h2 class="table_heading">Our Inventory</h2>
        <br>
        <br>
        <div class="list_table">
            <table class="table">
                <thead class="thead">
                    <tr class="table_header">
                        <th class="table_head" scope="col">Item</th>
                        <th class="table_head" scope="col">Description</th>
                        <th class="table_head" scope="col">Type</th>
                        <th class="table_head" scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>

                    {% if items %}
                        {% for i in items %}
                        <tr>
                            <td>
                                <img src="{{ i.product_img }}">
                            </td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.item_type }}</td>
                            <td>{{ i.price }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %} 
                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}