{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h2 class="table_heading">Our Inventory</h2>
        <br>
        <br>
        <div class="list_table">
            <table class="table">
                <thead class="thead">
                    <tr class="table_header">
                        <th class="table_head" scope="col">Item</th>
                        <th class="table_head" scope="col">Description</th>
                        <th class="table_head" scope="col">Type</th>
                        <th class="table_head" scope="col">Price</th>
                        <th class="table_head" scope="col">Add To Cart</th>
                    </tr>
                </thead>
                <tbody>
                        {% if store_items %}
                            {% for i in store_items %}
                            <tr>
                                <td>
                                    <img src="{{ i.product_img.url }}" style="width:50px; height:50px;">
                                </td>
                                <td>{{ i.description }}</td>
                                <td>{{ i.item_type }}</td>
                                <td>{{ i.price }}</td>
                                <td>
                                    <form action="{% url 'grabbed' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ i.id }}">
                                        <input type="hidden" name="grabbed" value=True>
                                        <input class="td_button btn btn-outline-secondary" type="submit" value="Add to Cart">
                                    </form>
                                </td>
                            </tr>
                                                
                            {% endfor %}
                        {% endif %}
                </tbody>

            </table>

        </div>
    </div>



{% endblock content %}